{
    auto_https off
}

:8081 {
    handle /api* {
        reverse_proxy localhost:8000
    }

    handle {
        root * /app/dist
        try_files {path} /index.html
        encode gzip zstd
        file_server
    }
}
